@import '../../../assets/styles/variables.scss';

.artist {
    position: relative;
    margin: 0 40px 40px 0;
    @media screen and (max-width: 490px) {
        margin: 0 0 40px 0;
    }
    &__link {
        text-decoration: none;
        color: $black;
    }
    &__overlay {
        position: absolute;
        opacity: 0;
        height: 300px;
        width: 300px;
        top: 0;
        background: rgba($color: $accent, $alpha: 0.4);
        transition: all 0.3s ease-in-out;
    }
    &:hover &__overlay {
        opacity: 1;
    }
    &__name {
        font-size: 14px;
        font-weight: 700;
    }
    &__listeners {
        font-size: 12px;
        color: rgba($color: $black, $alpha: 0.4)
    }
}