<header class="header">
  <div class="header__left">
    <div class="header__logo">
      <a href="/">
        <img src="../../../assets/img/logo.svg" alt="RBL logo">
      </a>
    </div>
    <div class="header__input-holder">
      <input type="text" placeholder="Search" class="header__input">
    </div>
</div>
    <div class="header__middle">
      <ul class="header__menu menu">
        <li class="header__menu-item">
          <a routerLink="/live" class="header__menu-link">Live</a>
        </li>
        <li class="header__menu-item">
          <a routerLink="/artists" class="header__menu-link">Artists</a>
        </li>
        <li class="header__menu-item">
          <a routerLink="/releases" class="header__menu-link">Releases</a>
        </li>
        <li class="header__menu-item">
          <a routerLink="/tours" class="header__menu-link">Tours</a>
        </li>
        <li class="header__menu-item">
          <a routerLink="/contact" class="header__menu-link">Contact</a>
        </li>
      </ul>
    </div>
    <div class="header__right">
      <div class="header__actions">
        <a routerLink="/login" class="header__actions-link">Log in</a>
        <span class="header__actions-or">or</span>
        <a routerLink="/register" class="header__actions-link">Register</a>
      </div>
    </div>
</header>
