<div>
    <div class="detailed-artist">
        <div class="detailed-artist__left">
            <div class="detailed-artist__img">
                <img [src]="artist.image['3']['#text']" [alt]="artist.name">
                <p class="detailed-artist__description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis aspernatur omnis eveniet molestiae, voluptates sint ut aperiam, minima veritatis similique corporis praesentium iste fuga libero sunt veniam accusantium? Sint, quidem.
                </p>
            </div>
            <div class="detailed-artist__middle">
                <h4 class="detailed-artist__name">{{artist.name}}</h4>
                <div class="detailed-artist__buttons">
                    <button class="detailed-artist__share">Share</button>
                    <button class="detailed-artist__like"></button>
                </div>
            </div>
        </div>
        <div *ngIf="tracks" class="detailed-artist__tracks">
            <h5 class="detailed-artist__top-10">Top 10 tracks</h5>
            <div *ngFor="let track of tracks; let i = index" class="detailed-artist__track" (click)="showPlayer(track); clicked = track" [class.active]="clicked === track">

                <h5 class="detailed-artist__track-name">
                    <span class="detailed-artist__track-count">{{i+1}}</span> {{track.name}}
                </h5>
                <span class="detailed-artist__played"> Played {{track.playcount | number}} times</span>
            </div>
        </div>
    </div>
    <app-player *ngIf="openPlayer" [openPlayer]="openPlayer" [track]="track" [artist]="artist.name"></app-player>
</div>